<!-- Footer -->
<footer class="page-footer font-small  bg-black pt-4"id="content">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" >
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">About us</h5>
          <p>Booksmart is the worldwide textbook rental service created by readers for readers. We offer lots of new and used textbooks
             on various topics including web design, development, business, and more.</p>
  
        </div>
        <!-- Grid column -->
       
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Quick links</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">AWARDS</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Newsletter</h5>
  
  <P>Keep up with our always upcoming news, updates, and publications. Enter your e-mail and subscribe to our newsletter.</P>
        
  
        </div>
        
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <p  (click)=faceEvent()><i class="fa fa-facebook-f"></i></p>
        
          <!-- Twitter -->
          <p  (click)=twitterEvent()><i class="fa fa-twitter"></i></p>

          <!-- Google +-->
          <p  (click)=googleEvent()><i class="fa fa-google"></i></p>
          <!-- <img src="../../../"> -->           
  
        </div>
       
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center" id="copy">© 2020 Copyright <span > team.com</span>
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->