.container
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.example-ripple-container {
    cursor: pointer;
    text-align: center;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    line-height: 300px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left:5%;
    -webkit-tap-highlight-color: transparent;
  }
  .alt
  {
    
      text-align: left;
    
      margin-left: 5px;
     
      color: white;
  }
  
  
 
  