 
 <div class="container container-bigger" id="content">
    <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between">
      <div class="col-md-10 col-lg-6 col-xxl-5">
        <div class="parallax-text-wrap" >
          <h3>A Few Words About Us</h3>
        </div>
        
        <hr class="divider divider-left divider-default">
        <p class="heading-5">Our store display different clothes and shoes that suit all tastes</p>
        <p> We help our 
            clientsto book purchases for a period of time, you always get the best prices without spending
             the time to find the best place  In order to buy your clothes.
              Moreover, they are all available for online clothes and shoes in just a few mouse clicks.</p>
              
      </div>
      <div class="col-md-10 col-lg-6"><img id="gif" src="../../assets/coco/giphy.gif">
      </div>
    </div>
  </div>
  <div></div>
  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
        <img class="img-fluid h-100"  src="../../assets/coco/er.jpg">
        </div>
        <div class="team-content">
        <h3 class="name">Ereny </h3>
        <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
  
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
      </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
        <img class="img-fluid" src="../../assets/coco/t3.jpg">
        </div>
        <div class="team-content">
        <h3 class="name">Esraa </h3>
        <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
      
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
      </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
        <img class="img-fluid h-100" src="../../assets/coco/tas.jpg">
        </div>
        <div class="team-content">
        <h3 class="name">Tasneem </h3>
        <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
      
        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
      </div>
    
    </div>
    </div>