<!--  -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger text-center center-block" style="margin: 10px; margin-left: 50%;" data-toggle="modal" data-target="#exampleModal">
  Add Product
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

   <!-- File Button -->
   <!-- <div class="form-group">
    <label class="col-md-4 " for="filebutton">UploadImage :</label>
    
      <input type="file" (change)="onFileChange($event)" placeholder="Upload image..." />
      <img id="img1" [src]="logo" >
   
  </div> -->
  <!--  -->
  <div class=" d-flex justify-content-center h-100">
    <div class="backCard">
  <div class="card-header d-flex justify-content-center">
    <div class="picture-container">
        <div class="picture">

            <div >
              <input type='file' (change)="readUrl($event)" class="text-center center-block file-upload">
              <img  [src]="imgsrc" class="avatar picture-src" alt="avatar">
              <!-- src="../../assets/coco/product/photo.png" -->




                <!-- <img  [src]="url"  class="avatar picture-src" alt="avatar">
                
                <input type="file" class="text-center center-block file-upload">-->
              </div><br>


        </div>


    </div>
    </div>
    </div>
</div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4" for="product_name">Product Name </label>
          <!-- <div class="col-md-4"> -->
            <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class=" input-md" [(ngModel)]="title"
              required="" type="text">

          <!-- </div> -->
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4" for="product_name">Product category </label>
          
          <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class=" input-md" [(ngModel)]="details"
          required="" type="text">
        
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 " for="percentage_discount">Price</label>
         
            <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT"
            [(ngModel)]="price" class=" input-md" required="" type="text">

          
        </div>


     
        <!-- Button -->
        <div class="form-group">
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" (click)="addProduct()" class="btn btn-primary">SUBMIT</button>
          </div>
        </div>

      </div>
    </div>
  </div>